{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/maxime/Documents/symfonyXvue3/src/Controller/DemoController.php'|file_link(0) }}">src/Controller/DemoController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/maxime/Documents/symfonyXvue3/templates/demo/index.html.twig'|file_link(0) }}">templates/demo/index.html.twig</a></code></li>
    </ul>
</div>

{% verbatim %}
    
    {{ title }}

{% endverbatim %}

<br/>

<td><demotest /></td>

{% endblock %}
